
<header class="masthead" role="banner">
  <nav role="navigation">



    <!--<p class="legal" img src="erecruit_logo.png <small> CMPE 280 Tech Squad. All Rights Reserved. </small>  </p>
     <p <a href="/"><img src="erecruit_logo.png"  alt="Marianne" </a></p> -->
      <ul class="nav-main">
          <li><a href="/" class="erecruit">HOME</a></li>
          <li><a href="/dashboard">DASHBOARD</a></li>
          <li><a href="/company">COMPANIES</a></li>
          <li><a href="/jobs">JOBS</a></li>
          <li><a href="/recommend" class="erecruit">RECOMMEND</a></li>
          <li><a href="/talent">TALENT</a></li>
          <li><a href="/credits">THANK YOU</a></li>
        <!--  <li><a href="/addCompanies">ADD</a></li> -->







      </ul>
  </nav>

</header>
